<div class='container'>
  <!-- <h3>{{course|async)?.id}}</h3> -->
  <h3>同步课/{{course?.courseName}}</h3>
  <ul class='list'>
    <li [class.active]='flag'>简介</li>
    <li [ngClass]="{'active':true}">互动</li>
    <li [style.color]="red">任务{{course?.task}}</li>
    <li [ngStyle]="{'color':'red','font-size':'50px'}">成员{{course?.person}}</li>
  </ul>
</div>

<!-- <input checked type='radio' (change)='change($event)' value='1' name='num'>11
<input type='radio'  (change)='change($event)' value='2' name='num'>22
<input type='radio'  (change)='change($event)' value='3' name='num'>33
<div [ngSwitch]='num'>
  <div *ngSwitchCase='1'>1</div>
  <div *ngSwitchCase='2'>2</div>
  <div *ngSwitchCase='3'>3</div>
</div>

<p>{{jsonObject|json}}</p>
<p>{{date|date:'y--MM-dd E'}}</p>
<P>{{'zsd'|uppercase}}</P> -->