#inform{
    margin-left:350px;
    margin-top:25px;
    border:1px solid gainsboro;
    width:750px;
    height:430px;
    border-radius:2px;
}
hr{
    width:700px;
    margin:5px auto;
}
#top{
    margin-top:50px;
}
#top span{
    margin-left:30px;
}
#s1{
    color:orangered;
}