<!-- 1.写输入框标签，绑定事件 -->
<!-- <input type='text' [(ngModel)]='txt' (keydown)='getValue($event)'>
<h3>正在进行<span>{{arr.length}}</span></h3> -->
<!-- 2.写入待办事项 -->
<!-- <ul>
  <li *ngFor='let item of arr;let i=index'>
    <input type="checkbox" (click)='change(i)'>
    {{item}} -->
<!-- 3.删除按钮绑定点击事件 -->
    <!-- <button (click)='delete(i)'>删除</button>
  </li>
</ul>  -->
<!-- <h3>已经完成<span>{{arr1.length}}</span></h3>
<ul>
    <li *ngFor='let item of arr1;let i=index'>
      <input type='checkbox' checked>
      {{item}}
      <button (click)='delete(i)'>删除</button>
    </li>
</ul>  -->
<app-parent></app-parent>