<div id='home'>
  <div class='left'>
      <img id='img1' src='../../assets/images/h1.jpg'>
      <div id="s1"><span>7-朱泓宇</span></div>
      <div id='s2'>
        <span>1</span>
        <span>0</span>
      </div>
      <div id='s3'>
        <span>粉丝</span>
        <span>关注</span>
      </div>
    <hr/>
    <ul class='nav'>
      <li><a [routerLink]='["./task"]'>任务<span>></span></a></li>
      <li><a [routerLink]='["./l-tongbu"]'>同步课<span  id='sp'>></span></a></li>
      <li><a [routerLink]='["./l-course"]'>课程<span>></span></a></li>
      <li><a [routerLink]='["./say"]' [queryParams]='{id:800,name:"ll"}' >且说<span>></span></a></li>
      <li><a [routerLink]='["./inform"]'>通知<span>></span></a></li>
    </ul> 
  </div>

<!-- 点击左侧每一项，右侧变化 -->
  <div class='right'>
    <router-outlet></router-outlet>
  </div>
</div>