.left{
    width:190px;
    height:450px;
    margin-left:120px;
    float:left;
}
#img1{
    width:170px;
    height:170px;
}
#s1{
    width:170px;
    height:33px;
}
#s1 span{
    margin-left:50px;
}
#s2{
    width:170px;
    height:33px;
}
#s2 span{
    width:85px;
    height:32px;

    margin-left:40px;
    font-size: 25px;
}
#s3{
    width:170px;
    height:20px;
}
#s3 span{
    width:170px;
    height:33px;
    font-size: 10px;
    margin-left:35px;
}
.nav li{
    width:170px;
    height:33px;
}
.nav li a{
    margin-left:20px;
}
.nav li span{
    margin-left:90px;
}
hr{
    width:140px;
    margin-left:15px;
    margin-top:10px;
    margin-bottom: 10px;
}
#sp{
    margin-left:75px;
}
