<div class='container'>
  <div id="oo">
    <select>
      <option value="1">课程分类</option>
      <option value="2">Web前端开发</option>
      <option value="3">Web后端开发</option>
      <option value="4l">移动应用开发</option>
      <option value="5">软件测试</option>
      <option value="6">数据库</option>
    </select>
    <select>
      <option value="11">课程体系</option>
      <option value="22">计算机基础技能</option>
      <option value="33">开发工程师</option>
      <option value="44">数据库工程师</option>
      <option value="55">软件测试工程师</option>
      <option value="66">全部体系</option>
    </select>
  </div>
  <div id="div2">
      <ul>
        <li *ngFor="let courses of coursess">
          <a [routerLink]="['/tongbu',courses.id]">
            <img src='{{courses.images}}' alt="">
            <h3>{{courses.courseName}}</h3>
            <div>
              <span>{{courses.task}}</span>
              <span>{{courses.person}}</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
</div>
