.container{
    width:1200px;
    height:500px;
    border:none;
    margin:0 auto;
}
.container li{
    width:297px;
    float:left;
    margin-right:3px;
}
#oo{
    margin-top:35px;
}
#div2{
    margin-top:30px;
}